<section id="section1">
  <div class="jumbotron-fluid">
        <!--  <button  type="button" class="btn getstartbtn_blue_large" id="offline_mode" >offline mode</button> -->
        <h1 class="j1">RANDOM USER GENERATOR</h1>

      </div>
</section>

 <!-- left side -->
<section id="section2">
  <div class="container">
      <div class="row" id="section2toprow">
          <div class="col-5 d-none d-md-block" id="showinterest">
              <div class="card">
              <template id="1"> <!-- user1 detail -->
                  <div class="sectionimages card-img-top" id="sectionimage1"><img class="bigpicture1"></div><br><br><br>
                  <h4 class="card-title m1 detailtitle"><span class="firstname1"></span> <span class="lastname1"></span></h4>
                  <div class="container card-body">
                      <h5 class="s2 card-text detail">
                            <ul>
                                    <li>Phone Number: <span class="phone1"></span></li>
                                    <li>Address: <span class="city1"></span>&nbsp;&nbsp;&nbsp;<span class="state1"></span></li>
                                    <li>email: <span class="email1"></span></li>
                                    <li>DOB: <span class="dob1"></span></li>
                                    <li>age: <span class="age1"></span></li>
                                </ul>    
                      </h5>
                  </div>
              </template>
              <template id="2"> <!-- user2 detail -->
                <div class="sectionimages card-img-top" id="sectionimage2"><img class="bigpicture2"></div><br><br><br>
                <h4 class="card-title m1 detailtitle"><span class="firstname2"></span> <span class="lastname2"></span></h4>
                <div class="container card-body">
                    <h5 class="s2 card-text detail">
                          <ul>
                                  <li>Phone Number: <span class="phone2"></span></li>
                                  <li>Address: <span class="city2"></span>&nbsp;&nbsp;&nbsp;<span class="state2"></span></li>
                                  <li>email: <span class="email2"></span></li>
                                  <li>DOB: <span class="dob2"></span></li>
                                  <li>age: <span class="age2"></span></li>
                              </ul>    
                    </h5>
                </div>
            </template>
            <template id="3"> <!-- user3 detail -->
                <div class="sectionimages card-img-top" id="sectionimage3"><img class="bigpicture3"></div><br><br><br>
                <h4 class="card-title m1 detailtitle"><span class="firstname3"></span> <span class="lastname3"></span></h4>
                <div class="container card-body">
                    <h5 class="s2 card-text detail">
                          <ul>
                                  <li>Phone Number: <span class="phone3"></span></li>
                                  <li>Address: <span class="city3"></span>&nbsp;&nbsp;&nbsp;<span class="state3"></span></li>
                                  <li>email: <span class="email3"></span></li>
                                  <li>DOB: <span class="dob3"></span></li>
                                  <li>age: <span class="age3"></span></li>
                              </ul>    
                    </h5>
                </div>
            </template>
            <template id="4"> <!-- user4 detail -->
                <div class="sectionimages card-img-top" id="sectionimage4"><img class="bigpicture4"></div><br><br><br>
                <h4 class="card-title m1 detailtitle"><span class="firstname4"></span> <span class="lastname4"></span></h4>
                <div class="container card-body">
                    <h5 class="s2 card-text detail">
                          <ul>
                                  <li>Phone Number: <span class="phone4"></span></li>
                                  <li>Address: <span class="city4"></span>&nbsp;&nbsp;&nbsp;<span class="state4"></span></li>
                                  <li>email: <span class="email4"></span></li>
                                  <li>DOB: <span class="dob4"></span></li>
                                  <li>age: <span class="age4"></span></li>
                              </ul>    
                    </h5>
                </div>
            </template>
            <template id="5"> <!-- user5 detail -->
                <div class="sectionimages card-img-top" id="sectionimage5"><img class="bigpicture5"></div><br><br><br>
                <h4 class="card-title m1 detailtitle"><span class="firstname5"></span> <span class="lastname5"></span></h4>
                <div class="container card-body">
                    <h5 class="s2 card-text detail">
                          <ul>
                                  <li>Phone Number: <span class="phone5"></span></li>
                                  <li>Address: <span class="city5"></span>&nbsp;&nbsp;&nbsp;<span class="state5"></span></li>
                                  <li>email: <span class="email5"></span></li>
                                  <li>DOB: <span class="dob5"></span></li>
                                  <li>age: <span class="age5"></span></li>
                              </ul>    
                    </h5>
                </div>
            </template>
            <template id="6"> <!-- user6 detail -->
                <div class="sectionimages card-img-top" id="sectionimage6"><img class="bigpicture6"></div><br><br><br>
                <h4 class="card-title m1 detailtitle"><span class="firstname6"></span> <span class="lastname6"></span></h4>
                <div class="container card-body">
                    <h5 class="s2 card-text detail">
                          <ul>
                                  <li>Phone Number: <span class="phone6"></span></li>
                                  <li>Address: <span class="city6"></span>&nbsp;&nbsp;&nbsp;<span class="state6"></span></li>
                                  <li>email: <span class="email6"></span></li>
                                  <li>DOB: <span class="dob6"></span></li>
                                  <li>age: <span class="age6"></span></li>
                              </ul>    
                    </h5>
                </div>
            </template>
              </div>
          </div>


          <!-- right side -->
          <div class="col-md-6 col-12">

              

              <h4 class="l2">
                  There are some random users...</h4>
              <h4 class="s1">
                  Click random button if you want to get another batch of users.
              </h4>
              <!--  <div class="row interest-section">
                  <div class="col-6 col-sm-4" *ngFor="let interest of interests" (mouseenter)="mouseHoverEnter(interest.id)" (mouseleave)="mouseHoverLeave(interest.id)">
                      <input class="interestinput" type='radio' name='interest' id='{{interest.input}}' />
                      <label class="interestlabel" for='{{interest.input}}'>
                          <img class="radiodiv" src="{{interest.backgroundimageurl}}">
                          <h3 class="s2">{{interest.name}}</h3>
                      </label>
                  </div>
              </div> -->
<br>

              <div class="row interest-section">
                <div class="col-6 col-sm-4"  (mouseenter)="mouseHoverEnter(1)" (mouseleave)="mouseHoverLeave(1)">
                    <input class="interestinput" type='radio' name='interest' id='1' />
                    <label class="interestlabel" for='input1'>
                        <img class="samllpicture1">
                        <h3 class="s2"><span class="firstname1"></span>&nbsp; <span class="lastname1"></span></h3>
                    </label>
                </div>

                    <div class="col-6 col-sm-4"  (mouseenter)="mouseHoverEnter(2)" (mouseleave)="mouseHoverLeave(2)">
                        <input class="interestinput" type='radio' name='interest' id='2' />
                        <label class="interestlabel" for='input2'>
                            <img class="samllpicture2">
                            <h3 class="s2"><span class="firstname2"></span>&nbsp; <span class="lastname2"></span></h3>
                        </label>
                    </div>

                    <div class="col-6 col-sm-4"  (mouseenter)="mouseHoverEnter(3)" (mouseleave)="mouseHoverLeave(3)">
                            <input class="interestinput" type='radio' name='interest' id='3' />
                            <label class="interestlabel" for='input3'>
                                <img class="samllpicture3">
                                <h3 class="s2"><span class="firstname3"></span>&nbsp; <span class="lastname3"></span></h3>
                            </label>
                        </div>

                        <div class="col-6 col-sm-4"  (mouseenter)="mouseHoverEnter(4)" (mouseleave)="mouseHoverLeave(4)">
                                <input class="interestinput" type='radio' name='interest' id='4' />
                                <label class="interestlabel" for='input4'>
                                    <img class="samllpicture4">
                                    <h3 class="s2"><span class="firstname4"></span>&nbsp; <span class="lastname4"></span></h3>
                                </label>
                            </div>

                            <div class="col-6 col-sm-4"  (mouseenter)="mouseHoverEnter(5)" (mouseleave)="mouseHoverLeave(5)">
                                    <input class="interestinput" type='radio' name='interest' id='5' />
                                    <label class="interestlabel" for='input5'>
                                        <img class="samllpicture5">
                                        <h3 class="s2"><span class="firstname5"></span>&nbsp; <span class="lastname5"></span></h3>
                                    </label>
                                </div>

                                <div class="col-6 col-sm-4"  (mouseenter)="mouseHoverEnter(6)" (mouseleave)="mouseHoverLeave(6)">
                                        <input class="interestinput" type='radio' name='interest' id='6' />
                                        <label class="interestlabel" for='input6'>
                                            <img class="samllpicture6">
                                            <h3 class="s2"><span class="firstname6"></span>&nbsp; <span class="lastname6"></span></h3>
                                        </label>
                                    </div>
                </div>

 <!-- reload button -->
                  <button  type="button" class="btn btn-submit getstartbtn_blue_large" onclick="location.reload();">random</button>
 

          </div>
      </div>
  </div>
</section>

<router-outlet></router-outlet>
